<footer class="site-footer">
    <div class="footer-content">
        
        <div class="footer-section brand">
        <h3>VetDirectorio</h3>
        <p>El directorio de médicos veterinarios más completo de Oaxaca.</p>
        <p>&copy; 2025 Todos los derechos reservados.</p>
        </div>

        <div class="footer-section links">
        <h4>Enlaces</h4>
        <ul>
            <li><a routerLink="/">Inicio</a></li>
            <li><a (click)="openContactModal()">Contacto</a></li>
            <li><a routerLink="/login">Acceso Veterinarios</a></li>
        </ul>
        </div>

        <div class="footer-section social">
            <h4>Síguenos</h4>
            <div class="social-icons">
                <a href="#" target="_blank" aria-label="Facebook">FB</a>
                <a href="https://www.instagram.com/yanh_luna?igsh=MTc0dW45d3ZwbW1hOA==" target="_blank" aria-label="Instagram">IG</a>
                <a href="#" target="_blank" aria-label="Twitter">TW</a>
            </div>
        </div>

    </div>
</footer>