    <h2 mat-dialog-title>Información de Contacto</h2>
    <mat-dialog-content>
    <p>
        Si deseas registrar tu clínica o tienes alguna pregunta, por favor contáctanos a través de:
    </p>
        <ul>
            <li><strong>Correo Electrónico:</strong> Lunafloresy&#64;gmail.com</li>
            <li><strong>Teléfono:</strong> 55-1386-1161</li>
        </ul>
    <p>
        ¡Gracias por tu interés!
    </p>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button mat-flat-button color="primary" mat-dialog-close>Cerrar</button>
    </mat-dialog-actions>