/* Centra la tarjeta */
.forgot-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 70px); /* Altura total menos la navbar */
  background-color: #f5f5f5;
  padding: 2rem;
}

/* Estilo de la tarjeta */
.forgot-password-card {
  max-width: 500px;
  width: 100%;
  padding: 1.5rem;
  border-radius: 12px;
}

mat-card-header {
  text-align: center;
  margin-bottom: 1rem;
}

mat-card-content p {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #555;
}

.full-width {
  width: 100%;
  margin-bottom: 1rem;
}

.submit-button {
  padding: 0.8rem 0;
  font-size: 1.1rem;
  margin-top: 1rem;
  display: flex; /* Para centrar el spinner */
  justify-content: center;
  align-items: center;
}

.response-message {
  text-align: center;
  margin-top: 1.5rem;
  font-weight: 500;
}

mat-card-actions {
  margin-top: 1rem;
  padding-right: 0; /* Alinea el botón a la derecha */
}