    <div class="login-container">
    <mat-card class="login-card">
        <mat-card-header>
        <mat-card-title>Iniciar Sesión</mat-card-title>
        <mat-card-subtitle>Accede a tu cuenta de VetDirectorio</mat-card-subtitle>
        </mat-card-header>
        
        <mat-card-content>
        <form (ngSubmit)="onLogin()">
            
            <mat-form-field appearance="outline" class="full-width">
            <mat-label>Correo Electrónico</mat-label>
            <input matInput 
                    type="email" 
                    name="email" 
                    [(ngModel)]="credentials.email" 
                    required 
                    #emailInput="ngModel"> 
            <mat-error *ngIf="emailInput.invalid && emailInput.touched">
                Por favor, ingresa un correo válido.
            </mat-error>
            </mat-form-field>
            
            <mat-form-field appearance="outline" class="full-width">
            <mat-label>Contraseña</mat-label>
            <input matInput 
                    type="password" 
                    name="password" 
                    [(ngModel)]="credentials.password" 
                    required
                    #passwordInput="ngModel">
            <mat-error *ngIf="passwordInput.invalid && passwordInput.touched">
                La contraseña es requerida.
            </mat-error>
            </mat-form-field>
            
            <button mat-flat-button 
                    color="primary" 
                    type="submit" 
                    class="full-width login-button"
                    [disabled]="!credentials.email || !credentials.password">
            Entrar
            </button>
            
        </form>
        </mat-card-content>
        
        <mat-card-actions class="center-actions">
            <a [routerLink]="['/forgot-password']" style="font-size: 0.9em; color: grey;">¿Olvidaste tu contraseña?</a>
        </mat-card-actions>
    </mat-card>
    </div>