<p>reset-password works!</p>
    <div class="reset-password-container">
    <mat-card class="reset-password-card">
        <mat-card-header>
        <mat-card-title>Crear Nueva Contraseña</mat-card-title>
        </mat-card-header>

        <mat-card-content>
        <p *ngIf="!token && message" class="error-message">{{ message }}</p>

        <form *ngIf="token" (ngSubmit)="onResetPassword()">
            <mat-form-field appearance="outline" class="full-width">
            <mat-label>Nueva Contraseña</mat-label>
            <input matInput
                    type="password"
                    name="newPassword"
                    [(ngModel)]="newPassword"
                    required
                    (ngModelChange)="checkPasswordsMatch()">
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
            <mat-label>Confirmar Nueva Contraseña</mat-label>
            <input matInput
                    type="password"
                    name="confirmPassword"
                    [(ngModel)]="confirmPassword"
                    required
                    (ngModelChange)="checkPasswordsMatch()">
            <mat-error *ngIf="!passwordsMatch && confirmPassword">
                Las contraseñas no coinciden.
            </mat-error>
            </mat-form-field>

            <button mat-flat-button
                    color="primary"
                    type="submit"
                    class="full-width submit-button"
                    [disabled]="!newPassword || !confirmPassword || !passwordsMatch || isLoading">
            <span *ngIf="!isLoading">Restablecer Contraseña</span>
            <mat-spinner *ngIf="isLoading" diameter="24"></mat-spinner>
            </button>
        </form>

        <p *ngIf="message && token" class="response-message">{{ message }}</p>

        </mat-card-content>
        <mat-card-actions align="end" *ngIf="!token">
            <a mat-button [routerLink]="['/login']">Volver a Inicio de Sesión</a>
        </mat-card-actions>
    </mat-card>
</div>